streamlit
langchain-huggingface
huggingface_hub
langchain-community
langchain-text-splitters
chromadb
pypdf
python-docx
pysqlite3-binary
sentence-transformers
protobuf==3.20.*
typing-extensions>=4.8.0
